#profileNav {
    position: relative;
    display: block; /* Ensure it is visible */
    cursor: pointer;   
}

.profile-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

#profileContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
    background: #f8f8f8;
    border-radius: 50px;
    cursor: pointer;
}

#dropdownArrow {
    font-size: 14px;
    transition: transform 0.3s;
    margin-left: 5px;
}

.dropdown1 {
    display: none;
    position: absolute;
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    top: 50px;
    right: 0;
    width: 150px;
    flex-direction: column;
}

.dropdown1.show {
    display: block;
}

.dropdown1 a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown1 a:hover {
    background: #f1f1f1;
}

.show {
 
    display: flex;
}

.rotate {
    transform: rotate(180deg);
}



/* profile page  */
.fade-in1 {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.fade-in1.show {
    opacity: 1;
    transform: translateY(0);
}
.avatar-placeholder {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: white;
    font-size: 50px;
    border-radius: 50%;
    cursor: pointer;
}
#userAvatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#editForm {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adds spacing between fields */
}







